{% extends "web/layout.html" %}
{% load static %}

{% block body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Recommendations</h1>
    
</div>

<!-- Content Row -->
<div class="row">
    {% for a in recommendations %}
    <div class="col-md-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ a.title }}</h6>
            </div>
            <div class="card-body">
                {{ a.description }}
            </div>
        </div>
    </div>
    
    {% endfor %}

</div>


{% endblock body%}